<!DOCTYPE html>
<html>
<head>
	<title>I have a back bone</title>
</head>
<body>
<%=yield%>
<!-- libs -->
<script src="/javascripts/jquery-1.6.1.min.js"></script>
<script src="/javascripts/underscore-min.js"></script>
<script src="/javascripts/backbone-min.js"></script>

<!-- templates -->
<script src="/javascripts/mustache.js"></script>
<script src="/javascripts/ICanHaz.min.js"></script>

<!-- application -->
<script src="/javascripts/app/views/ToDoView.js"></script>
<script src="/javascripts/app/models/ToDo.js"></script>
<script src="/javascripts/app/collections/ToDoCollection.js"></script>
<script>
(function ($) {
    
  var appview = new ToDoView;
})(jQuery);
</script>
</body>
</html>